body{
    background-color: rgb(240,240,240);
    color: rgb(0, 0, 0);
    text-shadow: .2px .5px rgb(240, 240, 240);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK7OPTDi95uVtGuFy6_Efe1Yk_cmV-2T5skflt9d9qE09d2uTowg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin:0px;
  }
  section{
    box-sizing: border-box;
    /*padding: 1em 2em;*/
    text-align: center;
  }
  textarea,input{
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-radius: 8px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    padding: 7px 10px;
    
  }
  textarea{
    width: 80%;
  }
  input{
    width: 20%;
  }
  textarea:focus,input:focus{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  input{
    text-align: center;
  }
  /*footer{
    background-color: rgb(146, 146, 146);
    position: absolute;
    bottom: 0;
    padding: 10px 0px 10px 0px;
    text-align: center;
    height: 30px;
    width: 100%;
    opacity: 0.7;
  }*/
  h1{
    /*background-image: url("https://media.istockphoto.com/vectors/binary-code-black-and-white-background-vector-id591818932");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgba(255, 255, 255, .3);
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  button{
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    background-color: #39898f;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }
  button:hover {
  background-color: #39898fbb;
  text-shadow: .5px 1px rgb(172, 172, 172);
  }
  .complete{
    display:inline-block;
    width:100%;
  }
  .half{
    float: left;
    /*display: inline-block;*/
    width: 50%;
  }
  .third{
    float: left;
    width: 33.33%;
  }